<div class="text-center">
    <h3>Past Matches</h3>

    <div>
        <table st-table="vm.as.pastMatches" st-safe-src="vm.as.pastCollection" class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Home</th>
                <th>:</th>
                <th>Away</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in vm.as.pastMatches">
                <td>{{match.date | date: "shortDate"}}</td>
                <td>{{match.homeTeamName}}</td>
                <td>{{match.result.goalsHomeTeam}}
                    :
                    {{match.result.goalsAwayTeam}}
                </td>
                <td>{{match.awayTeamName}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>