<!--
bundesliga
    5 - bayern munich
    4 - borussia dortmund
    12 - werder bremen
la liga
    81 - barcelona fc
    86 - real madrid
    78 - atletico madrid
ligue 1
    548 - as monaco fc
    524 - paris saint-germain
    523 - olympique lyonnais
premier league
    66 - manchester united
    64 - liverpool
    57 - arsenal
serie a
    109 - juventus turin
    98 - ac milan
    108 - fc internazionale milano
-->

<div id="landing" data-columns class="col-md-10 col-md-offset-1" ng-controller="LandingController as lc" ng-init="vm.as.load()">
    <div class="column size-1of6" ng-repeat="team in vm.as.landingTeam">
        <a class="thumbnail" role="button" ng-click="vm.goTeam(team.id)">
            <img src="{{team.crestUrl}}" width="105px"/>
        </a>
    </div>
</div>