<div class="panel panel-default">
    <div class="panel-heading">
        Defenders
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Jersey</th>
                <th>Name</th>
                <th>Position</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in vm.as.squadList.defender.cb">
                <td>{{player.jerseyNumber}}</td>
                <td>{{player.name}}</td>
                <td>{{player.position}}</td>
            </tr>
            <tr ng-repeat="player in vm.as.squadList.defender.lb">
                <td>{{player.jerseyNumber}}</td>
                <td>{{player.name}}</td>
                <td>{{player.position}}</td>
            </tr>
            <tr ng-repeat="player in vm.as.squadList.defender.rb">
                <td>{{player.jerseyNumber}}</td>
                <td>{{player.name}}</td>
                <td>{{player.position}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>