<div class="panel panel-default col-md-8 col-md-offset-2" ng-repeat="obj in $ctrl.data">
    <div class="panel-heading">
        <h3>{{obj.title}}</h3>
    </div>
    <div ng-show="obj.players.length">
        <div class="">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Nationality</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in obj.players">
                    <td>{{player.number}}</td>
                    <td>{{player.name}}</td>
                    <td>{{player.nationality}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="!obj.players.length" class="text-center">
        <h3>No Players Found at This Position</h3>
    </div>
</div>