<div class="container-fluid">
    <div class="jumbotron">
        <div class="btn-group btn-group-justified btn-group-lg" role="group">
            <a class="btn btn-primary" ng-click="vm.goHome()">Home</a>
            <a class="btn btn-primary" ng-click="vm.goTable(452)">Bundesliga</a>
            <a class="btn btn-primary" ng-click="vm.goTable(436)">La Liga</a>
            <a class="btn btn-primary" ng-click="vm.goTable(450)">Ligue 1</a>
            <a class="btn btn-primary" ng-click="vm.goTable(445)">Premier League</a>
            <a class="btn btn-primary" ng-click="vm.goTable(438)">Serie A</a>
        </div>
    </div>

    <div ui-view></div>


    <!--<div ng-if="vm.views == 'landing'">-->
        <!--<div ng-include="'components/landing/landing.html'"></div>-->
    <!--</div>-->

    <!--<div ng-if="vm.views == 'table'">-->
        <!--<div ng-controller="TableController as tableC" ng-include="'components/table/table.html'"></div>-->
    <!--</div>-->

    <!--<div ng-if="vm.views == 'team'">-->
        <!--<div ng-controller="TeamController as teamC" ng-include="'components/team/team.html'"></div>-->
    <!--</div>-->

    <!--<div ng-if="vm.views == 'error'">-->
        <!--<div ng-include="'components/error/error.html'"></div>-->
    <!--</div>-->


    </div>
</div>