.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    "logo leagues search"
;
}


.navbar-header {
    grid-area: logo;
}

.navbar-nav {
    grid-area: leagues;
}

.navbar-right {
    grid-area: search;
}
.navbar .navbar-brand {
    padding-top: 0px;
}

/*Navbar hover colors*/
.navbar-default .navbar-nav li a:hover {
    color: #FFFFFF;
    background-color: #607D8B;
}

.navbar-header .navbar-brand img:hover {
    background-color: #607D8B;
}

/*Table hover colors*/
.table-hover tbody tr:hover:hover {
    color: #FFFFFF;
    background-color: #607D8B;
}