<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"/>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="/assets/img/girpy_logo.png" height="100" role="button" ng-click="vm.goHome()"/></a>
        </div>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a role="button" ng-click="vm.goTable(452)">Bundesliga</a></li>
            <li role="presentation"><a role="button" ng-click="vm.goTable(455)">La Liga</a></li>
            <li role="presentation"><a role="button" ng-click="vm.goTable(450)">Ligue 1</a></li>
            <li role="presentation"><a role="button" ng-click="vm.goTable(445)">Premier League</a></li>
            <li role="presentation"><a role="button" ng-click="vm.goTable(438)">Serie A</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div ui-view></div>
</div>