<div class="container-fluid">
    <div class="jumbotron">
        <div class="btn-group btn-group-justified btn-group-lg" role="group">
            <a class="btn btn-primary" ng-click="vm.goHome()">Home</a>
            <a class="btn btn-primary" ng-click="vm.goTable(452)">Bundesliga</a>
            <a class="btn btn-primary" ng-click="vm.goTable(455)">La Liga</a>
            <a class="btn btn-primary" ng-click="vm.goTable(450)">Ligue 1</a>
            <a class="btn btn-primary" ng-click="vm.goTable(445)">Premier League</a>
            <a class="btn btn-primary" ng-click="vm.goTable(456)">Serie A</a>
        </div>
    </div>

    <div ui-view></div>
</div>