<div class="col-md-3 text-center">
    {{vm.leagueTable}}
    <img src={{vm.selectedTeam.crestURI}} width="250">
    <br/>
    <br/>
    <button class="btn btn-primary" type="button" ng-click="vm.goBack()">Back to League table</button>
</div>
<div class="col-md-9">
    <h1>{{vm.selectedTeam.teamName}}</h1>
    <hr/>
    <div class="row text-center">
        <div class="col-md-3">
            <div class="jumbotron">
                <p class="lead">{{vm.selectedTeam.position}}</p>
                <p>Position</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron col-md-4">
                <p class="lead">{{vm.selectedTeam.wins}}</p>
                <p>Wins</p>
            </div>
            <div class="jumbotron col-md-4">
                <p class="lead">{{vm.selectedTeam.draws}}</p>
                <p>Draws</p>
            </div>
            <div class="jumbotron col-md-4">
                <p class="lead">{{vm.selectedTeam.losses}}</p>
                <p>Losses</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron">
                <p class="lead">{{vm.selectedTeam.points}}</p>
                <p>Points</p>
            </div>
        </div>
    </div>
    <hr/>
    <div ng-if="vm.selectedTeam.teamId > 0">
        <match-table team-id="vm.selectedTeam.teamId" type="'Past'"></match-table>
        <match-table team-id="vm.selectedTeam.teamId" type="'Future'"></match-table>
    </div>
        <!--<div class="row" ng-controller="MatchController as mc">-->
        <!--<div class="col-md-6">-->
            <!--<div ng-include="'components/match/pastMatch.html'"></div>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<div ng-include="'components/match/futureMatch.html'"></div>-->
        <!--</div>-->
    <!--</div>-->
    <hr/>
    <div class="row">
        <div ng-include="'components/squad/squad.html'"></div>
    </div>
</div>